.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 20px;
	border: none;
	color: purple;

	:hover {
		background: -webkit-linear-gradient(
			45deg,
			#f09433 0%,
			#e6683c 25%,
			#dc2743 50%,
			#cc2366 75%,
			#bc1888 100%
		);
		background: linear-gradient(
			45deg,
			#f09433 0%,
			#e6683c 25%,
			#dc2743 50%,
			#cc2366 75%,
			#bc1888 100%
		);

		color: white;
	}
}

.button_exit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	position: absolute;
	left: 1800px;
	bottom: 900px;

	:hover {
		background: red;
	}

	button {
		width: 100px;
		height: 40px;
		border-radius: 10px;
		border: 1px solid black;
	}
}

.cards {
	width: 300px;
	height: 100px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}
